.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-36 { font-size: 36px; }
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}
.choice-buttons{ text-align:center;}
.choice-buttons > button{
    padding-left:50px;
    padding-right:50px;
    margin: 20px;
}
.choice-buttons{
    margin-top: 60px;
}
.lisa-button{
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-group.edit-buttons{
    right: 10px;
    float: right;
}
.table-responsive{
    margin-top: 60px;
}
#calendar{
    font-size: 36px;
    color: rgba(0, 0, 0, 0.54);
}
.card-body{
    margin-bottom: 30px;
}
.btn-group.mark-buttons{
    margin-bottom: 30px;
}
#mark{
    margin-bottom: 20px;
}
#back-button{
    margin-top: 20px;
    font-size: 14px;
}
.selectpicker.form-control{
    margin-top: 30px;
}
.btn.btn-outline-secondary{
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.material-icons.md-36.md-dark{
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}