.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-36 {
  font-size: 36px;
}
.navbar-nav > li{
  padding-right:30px;
}
.container {
  padding-top: 60px;
}
#forms{
  margin: auto;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  padding: 20px;
}
.panel-login>.panel-heading a{
  color: #666;
  font-weight: bold;
  font-size: 15px;
  padding: 45px;
}
.panel-login>.panel-heading a:hover {
  color: #cccccc;
}
.panel-login>.panel-heading a.active{
  color: lightskyblue;
  font-size: 20px;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}
.lisa-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-group.edit-buttons{
  right: 10px;
  float: right;
}
.table-responsive{
  margin-top: 30px;
}
#calendar{
  font-size: 36px;
  color: rgba(0, 0, 0, 0.54);
}
.card-body{
  margin-bottom: 30px;
}
.btn-group.mark-buttons{
  margin-bottom: 30px;
}
#back-button{
  font-size: 14px;
}
.selectpicker.form-control{
  margin-top: 30px;
}
.selection{
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-button{
  background-color: transparent;
  border: none;
}
.modal-footer{
  font-size: 10px;
  margin: 100px;
  background-color: ghostwhite;
}
