body{
  overflow: -moz-scrollbars-vertical;
  overflow: -moz-scrollbars-horizontal;
  margin-bottom: 80px;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-36 {
  font-size: 36px;
}
.navbar-nav > li{
  padding-right:30px;
}
.container {
  padding-top: 40px;
}
#forms{
  margin: auto;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  padding: 20px;
  background-color: ghostwhite;
}
.panel-login>.panel-heading a{
  color: #666;
  font-weight: bold;
  font-size: 15px;
  padding: 45px;
}
.panel-login>.panel-heading a:hover {
  color: #ccc;
}
.panel-login>.panel-heading a.active{
  color: lightskyblue;
  font-size: 20px;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}
.button{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4c4c4c;
  border-color: #4c4c4c;
}
.btn-group.edit-button{
  right: 10px;
  float: right;
}
.table-responsive{
  margin-top: 30px;
}
.table{
  background-color: white;
}
.selection{
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon-button{
  background-color: transparent;
  border: none;
}
.footer{
  font-size: 10px;
  margin-top: 100px;
  background-color: ghostwhite;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 30px;
  padding: 10px;
}
body{
  background: url(/src/resources/darkwood.png);
}
h2, h3{
  color: white;
}
#subjectList:hover{
  color: #ccc;
}
